<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('partials/header.ejs') %>
</head>

<body>
  <header>
    <%- include('partials/nav.ejs') %>
  </header>
  <main>
    <%- include(body) %>
  </main>
  <%- include('partials/footer.ejs') %>
</body>

</html>
