<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APP FULLSTACK COM EXPRESS</title>
</head>
<body>
  <header>
    <%- include('partials/header.ejs') %>
  </header>

  <main>
    <%- include(body) %>
  </main>
</body>
</html>
